.about-section {
      background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
    
  }
  .about-container{
    /* height: calc(100% - px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; */
    padding-top: 40px;
   
  }
  
  h2 {
    /* color: #333; */
    margin-bottom: 30px;
  }
  

  /* about.component.css */

.white-label {
  color: white;
}

.black-label {
  color: black;
}



.hero {
  background-color: #262626;
  padding: 100px 0;
}

.hero-content {
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0e71db;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 4px;
}

.btn:hover {
  background-color: #094da1;
}
