<div class="container">
  <mat-card>
    <mat-card-title id="title">LOGIN</mat-card-title>
    <mat-card-content>
      <div class="form-fields-container">
        <form>
          <mat-form-field id="f1">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your username">
          </mat-form-field>

          <mat-form-field id="f2">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your password">
          </mat-form-field>

          <div class="form-actions">
            <a class="forgot-password" href="#">Forgot password?</a>
            <button mat-raised-button color="primary" class="login-button">Login</button>
          </div>
        </form>
      </div>
      <div class="new-user-section">
        <span class="new-user-text">New user? </span>
        <a class="signup-link" href="#">Sign up</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- Normal mat table with pagination -->
<!-- <mat-toolbar>
  <span>Table with Pagination</span>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let row">{{ row.name }}</td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <td mat-cell *matCellDef="let row">{{ row.age }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[1, 2, 5]" showFirstLastButtons
  [length]="dataSource.data.length" [pageSize]="1"></mat-paginator> -->



<router-outlet></router-outlet>


<!-- <div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
      This form uses Angular Reactive Forms.
      The formGroup directive binds the FormGroup instance loginForm to the form element.
      The (ngSubmit) event is bound to the onSubmit() method which is called when the form is submitted.
    
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" class="form-control" formControlName="username">
      <!-- 
        This input element is bound to the FormControl instance username of the loginForm FormGroup.
        The formControlName directive is used to associate the input element with the FormControl.
    
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" formControlName="password">
      <!-- 
        This input element is bound to the FormControl instance password of the loginForm FormGroup.
        The formControlName directive is used to associate the input element with the FormControl.
    
    </div>
    <div class="form-group">
      <a href="#" class="forgot-password">Forgot password?</a>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
      <!-- 
        This button is used to submit the form and is disabled if the form is invalid.
        The [disabled] attribute is bound to the valid property of the loginForm FormGroup.
    
      <div style="clear:both"></div>
    </div>
  </form>
  <div class="new-user">
    <p>New user? <a href="#" class="sign-up">Sign up</a></p>
  </div>
</div>
<router-outlet></router-outlet>
   -->


<!-- <div class="login-container">
    <h1>Login</h1>
    <form>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control">
      </div>
      
      <div class="form-group">
        <a href="#" class="forgot-password">Forgot password?</a>
        <button type="submit" class="btn btn-primary">LOGIN</button>
        <div style="clear:both"></div>
      </div>
    </form>
    <div class="new-user">
      <p>New user? <a href="#" class="sign-up">Sign up</a></p>
    </div>
  </div> -->