<br><br><br><div class="currency-converter">
  <label for="currencyPair">Currency Pair:</label>
  <select id="currencyPair" [(ngModel)]="currencyPair" (change)="fetchRate()">
    <option value="USD/INR">USD/INR</option>
    <option value="USD/EUR">USD/EUR</option>
    <option value="USD/GBP">USD/GBP</option>
    <option value="USD/JPY">USD/JPY</option>
  
  </select>

  <label for="amount1">Amount1:</label>
  <input type="number" id="amount1" [(ngModel)]="amount1" (input)="calculateAmount2()">

  <label for="amount2">Amount2:</label>
  <input type="number" id="amount2" [(ngModel)]="amount2" disabled>

  <label for="rate">Rate:</label>
  <input type="number" id="rate" [(ngModel)]="rate" disabled>
</div>
<form [formGroup]="currencyForm">
  <mat-form-field appearance="fill">
    <mat-label>Currency</mat-label>
    <mat-select formControlName="currency" (selectionChange)="onCurrencyChange($event.value)">
      <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Spot Rate</mat-label>
    <input matInput formControlName="spotRate" [required]="isSpotRateRequired" (input)="checkSpotRateValidity()">
    <mat-icon matSuffix class="warning-icon" *ngIf="showWarningIcon" matTooltip="{{ warningMessage }}">warning</mat-icon>
  </mat-form-field>

  <!-- <button mat-raised-button color="primary" type="submit">Submit</button> -->
</form>

<!-- <button mat-raised-button color="primary" (click)="showAlert()">Show Alert</button> -->



