<p>home works!</p>
<router-outlet></router-outlet>

<h2>Welcome to My Portfolio</h2>
<p>I'm a software developer, fitness enthusiast, and photography hobbyist. This is my platform to showcase my skills and works. Take a look around to learn more about me!</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit quasi id consequatur nam voluptatum ducimus velit consectetur ipsa deleniti, cumque iusto quis, tenetur laborum animi, perferendis repudiandae vitae placeat voluptas.</p>

